<!--This homepage is the static page when 
    a user is not logged in-->

<!--Hero section-->

<section class="hero">

  <div class="hero-box">
    <div class="hero-content">
      <h1>CannaBnb</h1>
      <h3>Wake up and smell the <span class="green">green</span>.</h3>
      <br>
      <button>Enter</button>  
    </div>
  </div>
  
</section>
