@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
}

// Navbar //

.navbar {
  display: inline-block;
  justify-content: space-between;
}

.navbar-toggler-icon {
  color: #00ab0b;
}

// Hero Section //

.hero {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero-box {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url('larimerb&w.jpg');
  // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), asset-url('larimer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  color: #00ab0b;
  padding: 0 0 15px 0;
  font-weight: 700;
}

.hero-content h3 {
  color: white;
}

.green {
  color: #00ab0b;
}

button {
  padding: 10px 45px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  border: none;
  border-radius: 25px !important;
  transition: color 0.2s;
}

button:hover {
  color:#00ab0b;
}

.site-footer {
  margin: 0;
  height: 30px;
  bottom: 0;
  position: fixed;
  background-color: #404040;
}